.navbar {
  padding: 1px 30px;
  height: 70px;
  box-shadow: 0 2px 5px black;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin-right: 20px;
}
.pleaselogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.login-btn {
  border: 2px solid;
  padding: 5px 0;
  width: 80px;
  text-align: center;
  margin-top: 10px;
  background-color: aquamarine;
  border-radius: 8px;
}
